
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sidebar one_quarter first">
      <!-- ################################################################################################ -->
      <h6>Lorem ipsum dolor</h6>
      <nav class="sdb_holder">
        <ul>
          <li><a href="#">Navigation - Level 1</a></li>
          <li><a href="#">Navigation - Level 1</a>
            <ul>
              <li><a href="#">Navigation - Level 2</a></li>
              <li><a href="#">Navigation - Level 2</a></li>
            </ul>
          </li>
          <li><a href="#">Navigation - Level 1</a>
            <ul>
              <li><a href="#">Navigation - Level 2</a></li>
              <li><a href="#">Navigation - Level 2</a>
                <ul>
                  <li><a href="#">Navigation - Level 3</a></li>
                  <li><a href="#">Navigation - Level 3</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Navigation - Level 1</a></li>
        </ul>
      </nav>
      <div class="sdb_holder">
        <h6>Lorem ipsum dolor</h6>
        <address>
          Full Name<br>
          Address Line 1<br>
          Address Line 2<br>
          Town/City<br>
          Postcode/Zip<br>
          <br>
          Tel: xxxx xxxx xxxxxx<br>
          Email: <a href="#">contact@domain.com</a>
        </address>
      </div>
      <div class="sdb_holder">
        <article>
          <h6>Lorem ipsum dolor</h6>
          <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed.</p>
          <ul>
            <li><a href="#">Lorem ipsum dolor sit</a></li>
            <li>Etiam vel sapien et</li>
            <li><a href="#">Etiam vel sapien et</a></li>
          </ul>
          <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed. Condimentumsantincidunt dui mattis magna intesque purus orci augue lor nibh.</p>
          <p class="more"><a href="#">Continue Reading &raquo;</a></p>
        </article>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="content three_quarter">
      <!-- ################################################################################################ -->
      <h1>&lt;h1&gt; to &lt;h6&gt; - Headline Colour and Size Are All The Same</h1>
      <img class="imgr borderedbox inspace-5" src="../../assets/images/demo/imgr.gif" alt="">
      <p>Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.</p>
      <p>Dapiensociis <a href="#">temper donec auctortortis cumsan</a> et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.</p>
      <img class="imgl borderedbox inspace-5" src="../../assets/images/demo/imgl.gif" alt="">
      <p>This is a W3C compliant free website template from <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a>. For full terms of use of this template please read our <a href="http://www.os-templates.com/template-terms">website template licence</a>.</p>
      <p>You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more website templates visit our <a href="http://www.os-templates.com/">free website templates</a> section.</p>
      <p>Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.</p>
      <h1>Table(s)</h1>
      <div class="scrollable">
        <table border="0" cellspacing="4" cellpadding="4"><tbody><tr><th colspan="7" scope="col"><h2 style="text-align: center;">Get Free Bitcoins from Bitcoin Faucets that Pay</h2></th></tr><tr><th scope="col"><div align="center">Faucet</div></th><th scope="col">Coin</th><th style="text-align: center;" scope="col">Range</th><th style="text-align: center;" scope="col">Period</th><th style="text-align: center;" scope="col">Payouts</th><th style="text-align: center;" scope="col">Withdrawal</th><th style="text-align: center;" scope="col">Special Notes</th></tr><tr><th scope="col"><a target="_blank" href="https://cointiply.com/s/macobserver" rel="nofollow" sl-processed="1">Cointiply</a></th><td scope="col"><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td scope="col">70 – 100,000 satoshis</td><td scope="col">60 Mins</td><td scope="col"><a target="_blank" href="http://faucethub.io/r/3565090" sl-processed="1">Faucet Hub</a></td><td scope="col">35,000 Coins</td><td scope="col">New top paying faucet! Not weighted, either, and they pay a bonus if you roll a prime number! 🤓 Offers games-that-pay-you and paid-for-clicks tasks.</td></tr><tr><th scope="col"><div align="left"><strong><a target="_blank" href="https://freebitco.in/?r=199526" sl-processed="1">FreeBitco.in</a></strong></div></th><td scope="col"><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td scope="col">20 – 2,000 satoshis</td><td scope="col">60 Mins</td><td scope="col">Direct</td><td scope="col">30,000 satoshis</td><td scope="col">Best faucet, period – see review for features</td></tr><tr><th scope="row"><div align="left"><strong><a target="_blank" href="http://moonbit.co.in/?ref=5605bedacfa4" sl-processed="1">Moon Bitcoin</a></strong></div></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>3-180 satoshis</td><td>5 Mins</td><td>CoinPot</td><td>Instant</td><td>Redirects, pays more the longer page sits.&nbsp;Loyalty bonus that can double your payout. Now uses CoinPot.</td></tr><tr><th scope="row"><div align="left"><strong><a target="_blank" href="http://bonusbitcoin.co/?ref=BD8A5F6B7F4F" sl-processed="1">BonusBitcoin</a></strong></div></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>24 – 120 satoshis</td><td>15 Mins</td><td>CoinPot</td><td>Instant</td><td>&nbsp;Redirects, great faucet. Now uses CoinPot.</td></tr><tr><th scope="row"><div align="left"><strong><a target="_blank" href="https://qoinpro.com/9ecbf910fb4cf65a3431ba771f009674" sl-processed="1">Qoinpro.com</a></strong></div></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>Variable</td><td>Daily</td><td>Direct</td><td>Variable</td><td>Register, refer your friends, get free Bitcoins and several altcoins every day without even logging on. Added Bitcoin forks, automated payments. Highly recommended.</td></tr><tr><th scope="row"><a target="_blank" href="https://www.instant-btc.eu/ref/ERQexuytsU" sl-processed="1">Instant-BTC</a></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>Variable</td><td>5 Mins</td><td>Xapo</td><td>1,250</td><td>Moon Bitcoin clone, with similar structure. Pays out to Xapo.</td></tr><tr><th scope="row"><div align="left"><a target="_blank" href="http://bitgames.io/?affid=966571" sl-processed="1"><strong>Bitgames.io</strong></a></div></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>10-35 satoshis</td><td>Direct</td><td>60 Minutes</td><td>30,000 satoshis</td><td>There is a lot going on with this faucet, including the main faucet, offerwalls, bonuses, and gambling (which we do not test). Redesigned in October 2017.</td></tr><tr><th scope="row" align="left"><strong><a target="_blank" href="https://multicoinfaucet.com/?ref=MacObserver" sl-processed="1">Multi-CoinFaucet.com</a></strong></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"> <img class="aligncenter wp-image-16092" src="https://www.macobserver.com/wp-content/uploads/2017/04/ethereum-coin-logo.png?x78820" alt="Ethereum Cryptocoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/ethereum-coin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/ethereum-coin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/ethereum-coin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>24 satoshis (two faucets)</td><td>Faucet<br>
              Hub</td><td>60 Minutes</td><td>70,000 satoshis</td><td>There are two faucets (<strong><span style="color: #993300;">Dice Roll</span></strong> and <span style="color: #993300;"><strong>Earn &gt; Faucet</strong></span>) for both Bitcoin and Ethereum. Pays out to FaucetHub. [<strong>Update:</strong> They began payout again on 11/18/17]</td></tr><tr><th scope="row" align="left"><strong><a target="_blank" href="https://www.swissadspaysfaucet.com/faucet/?ref=MacObserver" sl-processed="1">SwissAdsPaysFaucet</a></strong></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>22-8,659&nbsp;satoshis</td><td>Faucet<br>
              Hub or Coinbase</td><td>60 Minutes</td><td>80,000 satoshis</td><td>Uses same engine as MultiCoinFaucet, but is Bitcoin only. [<strong>Update:</strong> Payments resumed January 22nd, 2018.]</td></tr><tr><th scope="row" align="left"><a target="_blank" href="http://freebtcmine.com/?partner=139362" sl-processed="1">FreeBTCMine</a></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>50 satoshis</td><td>12 Mins</td><td><a target="_blank" href="http://faucethub.io/r/3565090" sl-processed="1">Faucet Hub</a></td><td>50,000 satoshis</td><td>This is a gamified faucet. Pays well,with a new, lower withdrawal.</td></tr><tr><th scope="row"><div align="left"><strong><a target="_blank" href="https://bitcoinker.com/?r=1fdbyzWTpZb2tHxXp5tGvnDxvH8GSY2Dp" sl-processed="1">Bitcoinker.com</a></strong></div></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>20-80 satoshis</td><td>5 Mins</td><td>Direct</td><td>20,000 satoshis</td><td>&nbsp;Redirects, straight forward faucet</td></tr><tr><th scope="row" align="left"><a target="_blank" href="http://bitfun.co/?ref=F7212E15D4BA" sl-processed="1">Bitfun.co</a></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>Variable</td><td>CoinPot</td><td>Variable</td><td>N/A</td><td>Play games (with ads), earn satoshis. Withdraw immediately to CoinPot.</td></tr><tr><th scope="row" align="left"><a target="_blank" href="http://bitcoinfaucet.fun/ref/32728" sl-processed="1">BitcoinFaucet BTC</a></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>4-10 satoshis</td><td>15 Mins</td><td><a target="_blank" href="http://faucethub.io/r/3565090" sl-processed="1">Faucet Hub</a></td><td>Manual</td><td>Has bonus claims, easy to use.</td></tr><tr><th scope="row"><div align="left"><strong><a target="_blank" href="http://dailyfreebits.com/?id=13759858" sl-processed="1">DailyFreeBits</a></strong></div></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>20-1,200 satoshis</td><td>60 Mins</td><td><a target="_blank" href="http://faucethub.io/r/3565090" sl-processed="1">Faucet Hub</a></td><td>N/A</td><td>Straight forward faucet. Payouts haven’t decreased with the increase in Bitcoin, and I’ve moved it up on the list.</td></tr><tr><th scope="row"><div align="left"><strong><a target="_blank" href="http://bitcoinfaucet.tk/?ref=18SAmbTuZuZ3vn9Dg7UGGddjQ7hDcC6ZcY" sl-processed="1">BitcoinFaucet.tk</a></strong></div></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>20-40 satoshis</td><td>60 Mins</td><td>Direct</td><td>10,000 satoshis</td><td>30 second timer on Submit</td></tr><tr><th scope="row" align="left"><a target="_blank" href="https://BTC.kemafaucet.com/?ref=14Bp4Yy25s9z5mtxpgUyiw3PaAzsz94w1T" sl-processed="1">KemaBTC</a></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>18 satoshis</td><td>5 Mins</td><td><a target="_blank" href="http://faucethub.io/r/3565090" sl-processed="1">Faucet Hub</a></td><td>Hourly</td><td>Lots of redirects. Do both short link bonuses to claim maximum reward.</td></tr><tr><th scope="row"><div align="left"><a target="_blank" href="http://getyourbitco.in/636639" sl-processed="1"><strong>GetYourBitco.in</strong></a></div></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>6 satoshis</td><td>5 Mins</td><td><a target="_blank" href="http://faucethub.io/r/3565090" sl-processed="1">Faucet Hub</a></td><td>Manual</td><td>Triple CAPTCHA</td></tr><tr><th scope="row" align="left"><a target="_blank" href="https://wapserv.info/BTC/?ref=1AYXXvLGk6maAMyZ7dFqxitxGQ6iVWe4Po" sl-processed="1">Wapserv BTC</a></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>11 satoshis</td><td>5 Mins</td><td><a target="_blank" href="http://faucethub.io/r/3565090" sl-processed="1">Faucet Hub</a></td><td>Manual</td><td>Multiple CAPTCHAs, with a higher payout.</td></tr><tr><th scope="row" align="left"><a target="_blank" href="https://getcoinfree.com?ref=9a2efa67d96a366dfa6f501640c67742" sl-processed="1">GetCoinFree</a></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>3-5 satoshis</td><td>FaucetHub</td><td>5 minutes</td><td>21,000 satoshis</td><td>Back down to 5 minute faucet with lower payments.</td></tr><tr><th scope="row" align="left"><a target="_blank" href="http://digicoin.website/site/?r=12v4FhHp3fJKXQQvM9ZMEWNwJBqUt75xCS" sl-processed="1">Digicoin</a></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>10-50 satoshis</td><td>5 Mins</td><td><a target="_blank" href="http://faucethub.io/r/3565090" sl-processed="1">Faucet Hub</a></td><td>Instant</td><td>Straightforward FaucetHub faucet. I’ve seen malware redirects in ads, so be careful (as you should be with all faucets).</td></tr><tr><th scope="row"><a target="_blank" href="https://www.forumcoin.win/btc/?r=1NZUpaMLKwNBqgm5nb9BgEREZtgqC4CKug" sl-processed="1">Claim BTC</a></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>7-19 satoshis</td><td>1 Mins</td><td><a target="_blank" href="http://faucethub.io/r/3565090" sl-processed="1">Faucet Hub</a></td><td></td><td></td></tr><tr><th scope="row"><div align="left"><strong><a target="_blank" href="http://btc4free.site/faucet/?ref=23218" sl-processed="1">BTC4Free.site</a></strong></div></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>10-30 satoshis</td><td>5&nbsp;Mins</td><td><a target="_blank" href="http://faucethub.io/r/3565090" sl-processed="1">Faucet Hub</a></td><td>Direct</td><td>Redirects, double CAPTCHA, adds 1 satoshi to reward for each use</td></tr><tr><th scope="row" align="left"><a target="_blank" href="http://cryptoracers.com/r/6361834" sl-processed="1">CryptoRacers</a></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>Variable</td><td>Variable</td><td><a target="_blank" href="http://faucethub.io/r/3565090" sl-processed="1">Faucet Hub</a></td><td>50,000 satoshis</td><td>A racing game where you win or lose satoshis for racing other players. You can also earn satoshis for “Day Jobs” (time-dealyed faucets) and offerwalls. Read my review below for more.</td></tr><tr><th scope="row" align="left"><a target="_blank" href="https://www.bitemplum.cloud/?r=129" sl-processed="1">Bitemplum</a></th><td><img class="aligncenter wp-image-15067" src="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png?x78820" alt="Bitcoin" width="40" height="40" srcset="https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo.png 300w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-100x100.png 100w, https://www.macobserver.com/wp-content/uploads/2017/04/bitcoin-logo-150x150.png 150w" sizes="(max-width: 40px) 85vw, 40px"></td><td>75 satoshis</td><td>Xapo</td><td>Daily</td><td>10,000 satoshis</td><td>Claim 15 satoshis five times per day, but can do all five at once. <strong>WARNING: CPU mines without permission, though it does pay a bonus.</strong></td></tr></tbody></table>
        <table>
          <thead>
          <tr>
            <th>Header 1</th>
            <th>Header 2</th>
            <th>Header 3</th>
            <th>Header 4</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a href="#">Value 1</a></td>
            <td>Value 2</td>
            <td>Value 3</td>
            <td>Value 4</td>
          </tr>
          <tr>
            <td>Value 5</td>
            <td>Value 6</td>
            <td>Value 7</td>
            <td><a href="#">Value 8</a></td>
          </tr>
          <tr>
            <td>Value 9</td>
            <td>Value 10</td>
            <td>Value 11</td>
            <td>Value 12</td>
          </tr>
          <tr>
            <td>Value 13</td>
            <td><a href="#">Value 14</a></td>
            <td>Value 15</td>
            <td>Value 16</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="comments">
        <h2>Comments</h2>
        <ul>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../../assets/images/demo/avatar.png" alt=""></figure>
                <address>
                  By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../../assets/images/demo/avatar.png" alt=""></figure>
                <address>
                  By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../../assets/images/demo/avatar.png" alt=""></figure>
                <address>
                  By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
        </ul>
        <h2>Write A Comment</h2>
        <form action="#" method="post">
          <div class="one_third first">
            <label for="name">Name <span>*</span></label>
            <input type="text" name="name" id="name" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="email">Mail <span>*</span></label>
            <input type="email" name="email" id="email" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="url">Website</label>
            <input type="url" name="url" id="url" value="" size="22">
          </div>
          <div class="block clear">
            <label for="comment">Your Comment</label>
            <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
          </div>
          <div>
            <input type="submit" name="submit" value="Submit Form">
            &nbsp;
            <input type="reset" name="reset" value="Reset Form">
          </div>
        </form>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="heading">Leo nullam vitae</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            Street Name &amp; Number, Town, Postcode/Zip
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
      </ul>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Feugiat turpis phasellus</h6>
      <ul class="nospace linklist">
        <li><a href="#">Ullamcorper erat id suscipit</a></li>
        <li><a href="#">Felis quam id dui donec</a></li>
        <li><a href="#">Posuere nulla id congue</a></li>
        <li><a href="#">Bibendum nulla vestibulum</a></li>
        <li><a href="#">Urna ac ipsum iaculis</a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Nec hendrerit sem</h6>
      <ul class="nospace linklist">
        <li><a href="#">Pharetra curabitur quis</a></li>
        <li><a href="#">Nisi nec odio tincidunt</a></li>
        <li><a href="#">Tempor vitae at metus</a></li>
        <li><a href="#">Sed at ante et est</a></li>
        <li><a href="#">Dapibus hendrerit aenean</a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Fusce euismod urna</h6>
      <p class="nospace btmspace-15">Non fringilla laoreet phasellus volutpat arcu eget posuere euismod arcu purus.</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
