
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('../assets/images/demo/backgrounds/01.png');">
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>
      <div>
        <p class="heading">获取免费比特币的方法</p>
        <h2 class="heading">比特币放送网站</h2>
        <p>get rich</p>
      </div>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn inverse" href="/register">注册</a></li>
          <li><a class="btn" href="/get_free_bitcoin">了解更多</a></li>
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <article class="group">
      <div class="group btmspace-80">
        <div class="one_quarter first">
          <p class="font-xs"></p>
          <h6 class="heading">64个获取免费比特币的网址</h6>
        </div>
        <div class="three_quarter">
          <p>Tincidunt mauris et gravida dui nec consectetur felis vivamus aliquet lectus sit amet augue bibendum ultrices praesent condimentum ultrices justo at commodo vestibulum a hendrerit augue vitae posuere lacus nam placerat congue.</p>
          <p class="btmspace-30">Elit quis cursus erat lobortis et ut vehicula velit ante vel ultricies dui porta sit amet morbi at eros suscipit&hellip;</p>
          <footer><a class="btn" href="/get_free_bitcoin">了解更多</a></footer>
        </div>
      </div>
      <figure>
        <ul class="nospace group overview">
          <li class="one_half"><a href="#"><img src="../assets/images/demo/480x360.png" alt=""></a></li>
          <li class="one_half"><a href="#"><img src="../assets/images/demo/480x360.png" alt=""></a></li>
          <li class="one_half"><a href="#"><img src="../assets/images/demo/480x360.png" alt=""></a></li>
          <li class="one_half"><a href="#"><img src="../assets/images/demo/480x360.png" alt=""></a></li>
          <li class="one_half"><a href="#"><img src="../assets/images/demo/480x360.png" alt=""></a></li>
          <li class="one_half"><a href="#"><img src="../assets/images/demo/480x360.png" alt=""></a></li>
        </ul>
      </figure>
    </article>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('../assets/images/demo/backgrounds/02.png');">
  <article class="hoc container clear center">
    <!-- ################################################################################################ -->
    <div class="sectiontitle" style="margin-bottom:30px;">
      <h6 class="heading">Venenatis nisl porta</h6>
      <p>Lorem vestibulum gravida ipsum non velit aliquam lobortis</p>
    </div>
    <p><a class="btn medium" href="#">Read More &raquo;</a></p>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Nulla pretium nulla ligula</h6>
      <p>Placerat ut tincidunt eget varius quis erat quisque euismod</p>
    </div>
    <div class="group">
      <article class="one_third first"><a href="#"><img class="btmspace-30" src="../assets/images/demo/320x240.png" alt=""></a>
        <h6 class="nospace heading">Ligula id metus faucibus</h6>
        <ul class="nospace meta">
          <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
          <li><i class="fa fa-tag"></i> <a href="#">Tag Name</a></li>
        </ul>
        <p>Malesuada donec eu ex placerat accumsan felis quis auctor sem aliquam ut lacus laoreet placerat augue ornare pharetra&hellip;</p>
        <footer class="nospace"><a class="btn" href="#">Read More</a></footer>
      </article>
      <article class="one_third"><a href="#"><img class="btmspace-30" src="../assets/images/demo/320x240.png" alt=""></a>
        <h6 class="nospace heading">Eros quisque vel tincidunt</h6>
        <ul class="nospace meta">
          <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
          <li><i class="fa fa-tag"></i> <a href="#">Tag Name</a></li>
        </ul>
        <p>Orci et congue ante fusce dictum tristique risus id volutpat etiam commodo libero efficitur maximus velit tristique&hellip;</p>
        <footer class="nospace"><a class="btn" href="#">Read More</a></footer>
      </article>
      <article class="one_third"><a href="#"><img class="btmspace-30" src="../assets/images/demo/320x240.png" alt=""></a>
        <h6 class="nospace heading">Semper libero elementum</h6>
        <ul class="nospace meta">
          <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
          <li><i class="fa fa-tag"></i> <a href="#">Tag Name</a></li>
        </ul>
        <p>Nunc sed suscipit semper justo est ultricies sem at ullamcorper mauris dolor eget eros cras et nibh id dolor posuere&hellip;</p>
        <footer class="nospace"><a class="btn" href="#">Read More</a></footer>
      </article>
    </div>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay light" style="background-image:url('../assets/images/demo/backgrounds/03.png');">
  <article class="hoc cta clear">
    <!-- ################################################################################################ -->
    <h6 class="three_quarter first">Tincidunt aenean ligula nisi bibendum vitae ipsum</h6>
    <footer class="one_quarter"><a class="btn" href="#">Finibus consectetur &raquo;</a></footer>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="heading">Leo nullam vitae</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            Street Name &amp; Number, Town, Postcode/Zip
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
      </ul>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Feugiat turpis phasellus</h6>
      <ul class="nospace linklist">
        <li><a href="#">Ullamcorper erat id suscipit</a></li>
        <li><a href="#">Felis quam id dui donec</a></li>
        <li><a href="#">Posuere nulla id congue</a></li>
        <li><a href="#">Bibendum nulla vestibulum</a></li>
        <li><a href="#">Urna ac ipsum iaculis</a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Nec hendrerit sem</h6>
      <ul class="nospace linklist">
        <li><a href="#">Pharetra curabitur quis</a></li>
        <li><a href="#">Nisi nec odio tincidunt</a></li>
        <li><a href="#">Tempor vitae at metus</a></li>
        <li><a href="#">Sed at ante et est</a></li>
        <li><a href="#">Dapibus hendrerit aenean</a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Fusce euismod urna</h6>
      <p class="nospace btmspace-15">Non fringilla laoreet phasellus volutpat arcu eget posuere euismod arcu purus.</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
